<h2>Template Form For Wine</h2>
<div class="form-group">
    <form (ngSubmit)="createNewWine(wineForm)" #wineForm="ngForm">
        <div ngModelGroup="wineNew">

            <div class="form-containers">
                <div class="wineNew-name">
                    <input type="text" placeholder="Wine name here" required #wineName="ngModel" name="wineName"
                        ngModel>
                </div>
                <div *ngIf="wineName.touched && wineName.errors && wineName.errors.required">
                    <h5 class="error-message">Please add a name.</h5>
                </div>
            </div>


            <div class="form-containers">
                <div class="wineNew-price">
                    <input type="number" placeholder="Wine price here" required #winePrice="ngModel" name="winePrice"
                        ngModel min=1>
                </div>
                <div *ngIf="winePrice.dirty && winePrice.invalid">
                    <div *ngIf="winePrice.errors.required">
                        <h5 class="error-message">Please add a price.</h5>
                    </div>
                </div>
            </div>


            <div class="form-containers">
                <div class="wineNew-url">
                    <input type="text" placeholder="Wine url here" required #imageUrl="ngModel" name="imageUrl"
                        pattern="^http(s?)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$" ngModel>
                </div>
                <div *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors.required">
                        <h5 class="error-message">Please enter a URL</h5>
                    </div>
                    <div *ngIf="imageUrl.errors.pattern">
                        <h5 class="error-message">Sorry. This URL isn't valid</h5>
                    </div>
                </div>
            </div>


            <div class="onSale-confirm">
                <input type="checkbox" name="onSale" [value]="false" ngModel>
                This wine is on sale!
            </div>
            <button type="submit">Create</button>


        </div>
    </form>
</div>

<div class="json-message">
    <h4>The new wine is:</h4>
    <h4>{{wineNew | json}}</h4>
</div>